<ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}">Home</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}about/">About</a></li>
    <li class="nav-data-structure" role="menuitem"><a href="{{site.baseurl}}tag/data-structure/">data-structure</a></li>
    <li class="nav-algorithm" role="menuitem"><a href="{{site.baseurl}}tag/algorithm/">algorithm</a></li>
    <li class="nav-blockchain" role="menuitem"><a href="{{site.baseurl}}tag/blockchain/">blockchain</a></li>
    <li class="nav-ai" role="menuitem"><a href="{{site.baseurl}}tag/ai/">ai</a></li>
    <li class="nav-archive" role="menuitem">
        <a href="/archive.html">All Posts</a>
    </li>
    <li class="nav-archive" role="menuitem">
        <a href="/author_archive.html">Tag별 Posts</a>
    </li>
</ul>